
<% if current_user %>
	<div class="row-4">
		<% @user.each do |user| %>
			<div class="col-md-10">
				<% if user.profile!=nil %>
					<%= link_to image_tag user.profile.image.url, class: "img-circular" %>
					<p><%= link_to user.profile.full_name, user_books_path(user)%></p>
				<%end%>	
			</div>
		<% end %>
	</div>
<%end%>	